@using Cards.Models

<tr>
    <td>
        @thisRow?.Name
    </td>
    <td>
        @thisRow?.Description
    </td>
</tr>

@code {
    [Parameter]
    public Block? thisRow { get; set; }
}
